.banner {
    margin-bottom: 190px;

}

.banner_content {
    display: flex;
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
    
}


.banner_title {
    display: flex;
    padding-top: 50px;
    column-gap: 24px;
    max-width: 595px;
    max-height: 685px;
    margin-right: 250px;
	margin-left: 90px;
	font-weight: 900;
    font-size: 90px;
    letter-spacing: 0em;
    text-align: left;
	line-height: 1.25;
    margin-bottom: 15px;
}

.banner_description {
    margin-top: 15px;
    margin-left: 90px;
    margin-right: 200px;

	font-weight: 500;
	font-size: 36px;
	line-height: 1.5;
	letter-spacing: -0.02em;

}

.banner_add_description {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: -0.02em;

    margin-top: 30px;
    margin-left: 90px;
    margin-right: 200px;
}

.banner_star_description {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: -0.02em;

    margin-top: 10px;
    margin-left: 90px;
    margin-right: 200px;
}

.highlight {
    position: relative;
    display: inline-block;
}
.highlight span {
    position: relative;
}

.highlight::before {
    content:  "";
    display: block;
    position: absolute;
    top: -10px;
    bottom: 120px;
    left: -20px;
    right: 180px;
    background-color: #fff;
    transform: rotate(-2deg);
}

.banner_button_wrapper {
    display: flex;
    column-gap: 34px;
    align-items: center;
    margin-top: 20px;
}

.banner_button {
    padding: 18px 40px;

	background: #000000;
	border-radius: 10px;

	font-weight: 500;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: -0.05em;
	color: #fff;

}